In [1]:
import pandas as pd
import numpy as np

In [70]:
df=pd.read_excel(r'D:\Documents\movie_data.xlsx')

In [71]:
df.head()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

## 2.1 数据格式的转换

In [72]:
df['投票人数'].dtype

dtype('float64')

In [75]:
df['投票人数']=df['投票人数'].astype('int')

In [76]:
#df['年代']=df['年代'].astype('int')

In [77]:
df[df.年代=='2008\u200e']

         名字  投票人数  类型    产地                 上映时间  时长     年代   评分 首映地点
15205  狂蟒惊魂   544  恐怖  中国大陆  2008-04-08 00:00:00  93  2008‎  2.7   美国

In [49]:
#df[df.年代=='2008\u200e']['年代']=2008

In [80]:
df[df.年代=='2008\u200e']['年代'].values

array(['2008\u200e'], dtype=object)

In [81]:
df.loc[15205,'年代']=2008

In [82]:
df.loc[15205]

名字                     狂蟒惊魂
投票人数                    544
类型                       恐怖
产地                     中国大陆
上映时间    2008-04-08 00:00:00
时长                       93
年代                     2008
评分                      2.7
首映地点                     美国
Name: 15205, dtype: object

In [83]:
df['年代']=df['年代'].astype('int')

In [84]:
df['年代'].dtype

dtype('int32')

In [87]:
df[df.时长=='8U']

             名字  投票人数      类型  产地                 上映时间  时长    年代   评分 首映地点
31641  一个被隔绝的世界    46  纪录片/短片  瑞典  2001-10-25 00:00:00  8U  1948  7.8   美国

In [88]:
df.drop([31641],inplace=True)

In [89]:
df['时长']=df['时长'].astype('int')

ValueError: invalid literal for int() with base 10: '12J'

In [90]:
df[df.时长=='12J']

         名字  投票人数   类型  产地                 上映时间   时长    年代   评分 首映地点
32946  渔业危机    41  纪录片  英国  2009-06-19 00:00:00  12J  2008  8.2  USA

In [91]:
df.drop([32946],inplace=True)

In [92]:
df['时长']=df['时长'].astype('int')

## 2.2 排序

### 按照投票人数来进行排序

In [97]:
df.sort_values(by='投票人数',ascending=False)

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
9,这个杀手不太冷,662552,剧情/动作/犯罪,法国,1994-09-14 00:00:00,133,1994,9.4,法国
22,盗梦空间,642134,剧情/动作/科幻/悬疑/冒险,美国,2010-09-01 00:00:00,148,2010,9.2,中国大陆
3,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
99,三傻大闹宝莱坞,549808,剧情/喜剧/爱情/歌舞,印度,2011-12-08 00:00:00,171,2009,9.1,中国大陆
109,泰坦尼克号,535491,剧情/爱情/灾难,美国,1998-04-03 00:00:00,194,1997,9.1,中国大陆
3005,让子弹飞,534791,剧情/喜剧/动作/西部,中国大陆,2010-12-16 00:00:00,132,2010,8.7,中国大陆
28,千与千寻 千と千尋の神隠,525505,剧情/动画/奇幻,日本,2001-07-20 00:00:00,125,2001,9.2,日本
24,海上钢琴师,501153,剧情/音乐,意大利,1998-10-28 00:00:00,165,1998,9.2,意大利
427,少年派的奇幻漂流,489231,剧情/奇幻/冒险,美国,2012-11-22 00:00:00,127,2012,9.0,中国大陆
4,霸王别姬,478523,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
3544,阿凡达,451523,动作/科幻/奇幻/冒险,美国,2010-01-04 00:00:00,162,2009,8.6,中国大陆
1014,当幸福来敲门,450450,剧情/家庭/传记,美国,2008-01-17 00:00:00,117,2006,8.9,中国大陆
8996,那些年，我们一起追的女孩 那些年，我們一起追的女,443884,剧情/喜剧/爱情,中国台湾,2012-01-06 00:00:00,110,2011,8.1,中国大陆
1566,怦然心动,427162,剧情/喜剧/爱情,美国,2010-08-06 00:00:00,90,2010,8.9,美国
1093,飞屋环游记,423327,剧情/喜剧/动画/奇幻/冒险,美国,2009-08-04 00:00:00,96,2009,8.9,中国大陆
15,机器人总动员,421734,喜剧/爱情/科幻/动画/冒险,美国,2008-06-27 00:00:00,98,2008,9.3,美国
3064,天使爱美丽,412014,喜剧/爱情,法国,2001-04-25 00:00:00,122,2001,8.7,法国
2877,剪刀手爱德华,409419,剧情/爱情/奇幻,美国,1990-12-06 00:00:00,105,1990,8.7,美国
17464,人再囧途之泰囧,392992,喜剧,中国大陆,2012-12-12 00:00:00,105,2012,7.5,中国大陆
122,星际穿越,380140,剧情/科幻/悬疑/家庭/冒险,美国,2014-11-12 00:00:00,169,2014,9.1,中国大陆
6392,初恋这件小事,379595,喜剧/爱情,泰国,2012-06-05 00:00:00,118,2010,8.3,中国大陆
23,放牛班的春天,370585,剧情/音乐/儿童,法国,2004-10-16 00:00:00,97,2004,9.2,中国大陆
2981,七宗罪,370351,剧情/悬疑/惊悚/犯罪,美国,1995-09-22 00:00:00,127,1995,8.7,美国
53,大话西游之大圣娶亲 西遊記大結局之仙履奇,366223,喜剧/动作/爱情/奇幻/冒险,中国香港,2014-10-24 00:00:00,95,1995,9.1,中国大陆
336,楚门的世界,352755,剧情,美国,1998-06-05 00:00:00,103,1998,9.0,美国
36,忠犬八公的故事,352613,剧情,美国,2009-06-13 00:00:00,93,2009,9.2,西雅图电影节
324,搏击俱乐部,352460,剧情/动作/悬疑/惊悚,美国,1999-09-10 00:00:00,139,1999,9.0,威尼斯电影节
4722,黑天鹅,349175,剧情/惊悚,美国,2010-12-17 00:00:00,108,2010,8.5,美国
18946,失恋3,345624,剧情/爱情,中国大陆,2011-11-08 00:00:00,110,2011,7.4,中国大陆
...,...,...,...,...,...,...,...,...,...
35563,雪白,24,惊悚,比利时,2010-03-17 00:00:00,100,2010,5.2,美国
35963,困惑中年,24,剧情/喜剧,其他,2007-12-05 00:00:00,90,2007,7.0,美国
34489,拳速反击,24,动作,泰国,2007-11-01 00:00:00,60,2007,4.7,美国
34470,王牌教练,24,喜剧,法国,2009-09-09 00:00:00,60,2009,6.1,美国
3978,波利安娜,24,剧情,英国,2003-01-01 00:00:00,100,2003,8.1,美国
34556,NaN,23,喜剧/动作,美国,1905-06-23 00:00:00,60,2001,8.6,美国
38299,上帝是巴西人,23,喜剧/奇幻/冒险,巴西,2003-01-31 00:00:00,110,2003,6.6,美国
34535,地下乐团,23,纪录片/音乐/历史,荷兰,1998-01-15 00:00:00,60,1998,8.3,美国
8583,疯狂车手,23,惊悚/犯罪,美国,1968-03-22 00:00:00,74,1965,6.0,美国
34536,恶魔玩具大对决,23,动作/科幻/恐怖,美国,1993-10-13 00:00:00,60,1993,6.2,美国
36412,蓝月,23,剧情,中国台湾,1998-09-19 00:00:00,96,1997,6.8,美国
18809,末路狂妈,23,剧情,加拿大,2006-06-27 00:00:00,102,2005,6.5,美国
34537,案件背后的秘密,23,悬疑/惊悚/犯罪,加拿大,2012-02-01 00:00:00,60,2012,6.0,美国
37598,威文庄园之谜,23,剧情/悬疑/恐怖,英国,2000-03-05 00:00:00,120,2000,6.0,美国
28369,无望街头,23,犯罪,墨西哥,2015-09-10 00:00:00,99,2015,7.0,威尼斯电影节
34558,NaN,23,运动,美国,2007-06-21 00:00:00,60,2007,8.9,美国
35578,家庭英雄,23,剧情/传记/冒险,美国,1986-09-28 00:00:00,120,1986,6.7,美国
1977,爱都爱都,23,喜剧/爱情,其他,2005-02-08 00:00:00,105,2005,6.4,美国
34568,NaN,22,喜剧,法国,2016-02-17 00:00:00,60,2016,8.0,美国
34572,口中的蚂蚁,22,剧情,西班牙,2005-04-29 00:00:00,60,2005,5.2,美国
38682,希斯堡惨案,22,剧情/运动,英国,1996-12-05 00:00:00,101,1996,8.0,美国
37038,魂惊一线,21,惊悚/恐怖,美国,2003-08-21 00:00:00,108,2002,5.3,美国
37270,生生舞不息,21,剧情/歌舞,法国,2002-04-12 00:00:00,100,2002,6.8,美国
1990,爱和一颗子弹,21,动作/犯罪,美国,2002-08-30 00:00:00,85,2002,7.0,美国
22872,少年邓恩铭,21,剧情/传记,中国大陆,2011-07-01 00:00:00,90,2011,3.8,美国
35592,川崎的玫瑰,21,剧情,其他,2009-12-21 00:00:00,100,2009,6.1,美国
19817,女仆日记,12,剧情,法国,2015-04-01 00:00:00,96,2015,5.7,法国
38052,逃出亚卡拉,12,剧情/动作/惊悚/犯罪,美国,1979-09-20 00:00:00,112,1979,7.8,美国
19789,女教师 女教,8,剧情/犯罪,日本,1977-10-29 00:00:00,100,1977,6.6,日本
19801,女郎漫游仙境 ドレミファ娘の血は騒,5,喜剧/歌舞,日本,1985-11-03 00:00:00,80,1985,6.7,日本

### 多个值排序，先按照评分，在按照投票人数

In [98]:
df.sort_values(by=['评分','投票人数'],ascending=False)

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
9278,平安结祈 平安結,208,音乐,日本,2012-02-24 00:00:00,60,2012,9.9,美国
13882,武之舞,128,纪录片,中国大陆,1997-02-01 00:00:00,60,34943,9.9,美国
1110,NaN,76,科幻/纪录片,美国,1905-06-23 00:00:00,75,2001,9.9,美国
23556,未作回答的问题：伯恩斯坦哈佛六讲,61,纪录片,美国,1905-05-29 00:00:00,60,1973,9.9,美国
35467,NaN,46,纪录片/音乐,韩国,2013-10-31 00:00:00,90,2013,9.9,韩国
25270,索科洛夫：巴黎现场,43,音乐,法国,2002-11-04 00:00:00,127,2002,9.9,美国
11479,公园现场,163,音乐,英国,2012-12-03 00:00:00,60,2012,9.8,美国
35906,NaN,157,纪录片/音乐,美国,1988-02-02 00:00:00,60,1988,9.8,美国
1289,Sant,143,脱口秀,日本,2003-01-01 00:00:00,135,2014,9.8,美国
26022,天使之声：自由童声合唱团,97,纪录片/音乐,美国,2007-10-02 00:00:00,75,2007,9.8,美国
19428,绿洲乐队海洋现场演唱会,82,音乐,英国,1995-08-28 00:00:00,60,1995,9.8,美国
698,NaN,52,纪录片,英国,2008-07-25 00:00:00,40,2008,9.8,美国
27018,阿森纳 - 2,48,运动,英国,2008-06-09 00:00:00,60,2008,9.8,美国
27328,阿森纳： 再见海布里 -,47,运动,英国,2006-06-19 00:00:00,60,2006,9.8,美国
35099,自由颂：柏林墙拆除庆祝音乐会,41,纪录片/音乐,其他,1989-12-25 00:00:00,94,1989,9.8,美国
31089,急救精英,37,纪录片,美国,1905-06-27 00:00:00,60,2008,9.8,美国
33382,NaN,31,音乐,英国,1999-11-23 00:00:00,60,1999,9.8,美国
14209,久石让在武道馆：与宫崎骏动画一同走过的25年 久石譲 in 武道館 ~宮崎アニ,8601,纪录片/音乐,日本,2008-08-05 00:00:00,116,2008,9.7,日本
19557,涅磐纽约不插电演唱会,5840,纪录片/音乐,USA,1993-12-16 00:00:00,72,1993,9.7,美国
14369,剧院魅影：25周年纪念,2417,剧情/音乐/歌舞,英国,2011-10-02 00:00:00,137,2011,9.7,美国
805,迈克尔·杰克逊-危险之旅之布加勒斯特站,1768,音乐,美国,2005-06-26 00:00:00,60,1992,9.7,美国
17326,迈克尔·杰克逊：音乐历史专辑全集,948,剧情/爱情/恐怖/纪录片/音乐,美国,1995-06-16 00:00:00,90,1995,9.7,美国
31569,夜愿：时代终结,492,音乐,其他,2006-05-11 00:00:00,104,2006,9.7,美国
23164,神秘博士：2008逍,433,音乐,英国,2008-07-27 00:00:00,95,2008,9.7,英国
1229,P,315,纪录片/音乐,美国,1998-04-02 00:00:00,93,1998,9.7,美国
15708,老鹰乐队2004年墨尔,280,音乐,澳大利亚,2005-06-14 00:00:00,175,2005,9.7,美国
1415,NaN,247,纪录片/音乐,英国,1992-04-20 00:00:00,175,1992,9.7,美国
18710,魔戒交响诗：一个作曲家在中土世界的音乐旅程,247,纪录片/音乐,加拿大,2004-12-14 00:00:00,52,2004,9.7,美国
29496,小捣蛋,233,喜剧/短片/家庭,美国,1922-11-05 00:00:00,20,1922,9.7,美国
8375,NaN,226,纪录片/音乐,其他,2003-11-17 00:00:00,60,2003,9.7,美国
...,...,...,...,...,...,...,...,...,...
24244,山精,58,惊悚,其他,1905-07-01 00:00:00,60,2009,2.4,美国
26339,通道转兵,57,历史,中国大陆,2011-08-30 00:00:00,90,2011,2.4,中国大陆
9015,感染:入侵开,56,科幻/惊悚,美国,1905-07-02 00:00:00,95,2010,2.4,美国
9683,古老国度的传说,53,动作/冒险,美国,1905-07-01 00:00:00,86,2010,2.4,美国
31891,一夜危机,45,剧情/喜剧/爱情,中国大陆,2016-03-25 00:00:00,86,2016,2.4,中国大陆
8576,疯花血月,43,爱情/悬疑/恐怖,中国大陆,2014-11-12 00:00:00,90,2014,2.4,美国
26737,外国人大决战,38,科幻,美国,2011-07-26 00:00:00,95,2011,2.4,美国
38680,放手爱,29254,喜剧/爱情,中国大陆,2014-04-30 00:00:00,93,2014,2.3,中国大陆
38674,2016年中央电视台春节,17328,歌舞/真人秀,中国大陆,2016-02-07 00:00:00,280,2016,2.3,中国大陆
38669,汽车人总动员,12892,喜剧/动画/冒险,中国大陆,2015-07-03 00:00:00,85,2015,2.3,中国大陆
655,B区,5187,剧情/惊悚/恐怖,中国大陆,2011-06-03 00:00:00,89,2011,2.3,中国大陆
28798,西游记归来,1349,喜剧/动作/冒险,韩国,2011-02-17 00:00:00,79,2011,2.3,韩国
21629,让熊猫飞,1058,喜剧/儿童/奇幻,中国大陆,2013-06-01 00:00:00,89,2013,2.3,中国大陆
20940,亲，别怕,796,惊悚,中国大陆,2015-07-10 00:00:00,88,2015,2.3,中国大陆
5093,冲锋号,738,动画/儿童/战争,中国大陆,2013-05-24 00:00:00,82,2013,2.3,中国大陆
35148,走过雪山草地,303,剧情/历史,中国大陆,2012-11-08 00:00:00,107,2012,2.3,中国大陆
30088,新地雷战：神勇小子,174,动画/儿童/战争,中国大陆,2014-05-30 00:00:00,94,2014,2.3,中国大陆
2853,白日杀机,110,恐怖,中国大陆,2015-08-10 00:00:00,62,2015,2.3,美国
6672,地球保卫战,60,动作/科幻/战争,美国,2012-02-28 00:00:00,85,2012,2.3,加拿大
6629,底线,50,剧情/情色,中国大陆,1905-07-06 00:00:00,57,2014,2.3,美国
32145,异形降临,42,科幻,美国,2012-08-06 00:00:00,130,2012,2.3,美国
1120,齐天大圣前传,1085,剧情/喜剧/奇幻/冒险,中国大陆,2009-09-29 00:00:00,60,2009,2.2,美国
20500,戚继光英雄传,764,剧情/动画/传记/历史,中国大陆,2012-06-01 00:00:00,90,2012,2.2,中国大陆
18874,莫日根,445,动画/儿童/冒险,中国大陆,2015-10-17 00:00:00,92,2015,2.2,中国大陆
2790,爸爸我来救你了,278,喜剧/动作/家庭/儿童/冒险,中国大陆,2016-01-22 00:00:00,90,2015,2.2,中国大陆
10219,大震撼,185,剧情,中国大陆,2011-05-19 00:00:00,60,2011,2.2,中国大陆
9045,钢管侠,168,动作,中国大陆,2015-07-28 00:00:00,60,2015,2.2,中国大陆
13137,嫁给大山的女人,2690,剧情,中国大陆,2009-04-22 00:00:00,88,2009,2.1,中国大陆
36077,NaN,1334,喜剧/爱情,中国大陆,2014-01-01 00:00:00,91,2014,2.1,中国大陆
29097,都是手机惹的祸,42,喜剧,中国大陆,2013-01-18 00:00:00,60,2012,2.0,中国大陆

### 2.3 基本统计分析

#### datafrae.describe():对dataframe中的数值型进行描述统计（个数，中位数...)

In [99]:
df.describe()

                投票人数            时长            年代            评分
count   38733.000000  38733.000000  38733.000000  38733.000000
mean     6186.637079     89.052074   1998.789688      6.935618
std     26145.110552     83.336808    253.208484      1.270138
min         5.000000      1.000000   1888.000000      2.000000
25%        98.000000     60.000000   1990.000000      6.300000
50%       341.000000     92.000000   2005.000000      7.100000
75%      1741.000000    106.000000   2010.000000      7.800000
max    692795.000000  11500.000000  39180.000000      9.900000

In [100]:
df[df['年代']>2018]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
13882,武之舞,128,纪录片,中国大陆,1997-02-01 00:00:00,60,34943,9.9,美国
17115,妈妈回来吧-中国打工村的孩子,49,纪录片,日本,2007-04-08 00:00:00,109,39180,8.9,美国

In [101]:
df[df['时长']>1000]

            名字  投票人数        类型  产地                 上映时间     时长    年代   评分 首映地点
19690     怒海余生    54  剧情/家庭/冒险  美国  1937-09-01 00:00:00  11500  1937  7.9   美国
38727  喧闹村的孩子们    36        家庭  瑞典  1986-12-06 00:00:00   9200  1986  8.7   瑞典

In [102]:
df[df['年代']>2018].index

Int64Index([13882, 17115], dtype='int64')

In [106]:
df.drop([13882],inplace=True)

In [107]:
df[df['年代']>2018]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
17115,妈妈回来吧-中国打工村的孩子,49,纪录片,日本,2007-04-08 00:00:00,109,39180,8.9,美国

In [108]:
df.drop([17115],inplace=True)

In [110]:
df.drop(df[df['时长']>1000].index,inplace=True) #

In [111]:
df[df['时长']>1000]

Empty DataFrame
Columns: [名字, 投票人数, 类型, 产地, 上映时间, 时长, 年代, 评分, 首映地点]
Index: []

In [112]:
df[13880:13885]#因为index被删除,所以不再是一个连续的index序列了

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
13880,进退两难 安第斯空难生还,123,纪录片,法国,2008-03-07 00:00:00,130,2007,8.4,美国
13881,伟大工程巡礼：鹿特丹港,128,纪录片,美国,1905-06-27 00:00:00,60,2005,7.9,美国
13883,近郊奇情,203,剧情/喜剧,美国,1997-02-07 00:00:00,121,1996,8.1,美国
13884,近距离,458,动作/犯罪,美国,2015-12-11 00:00:00,80,2015,5.1,美国
13885,近距离击杀,663,剧情/战争,中国大陆,2014-05-09 00:00:00,90,2013,5.9,中国大陆

In [113]:
df.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            38724, 38725, 38726, 38728, 38729, 38730, 38731, 38732, 38733,
            38734],
           dtype='int64', length=38729)

In [114]:
len(df)

38729

In [115]:
df.index=range(len(df))

In [117]:
df[13880:13885] #变成连续的index

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
13880,进退两难 安第斯空难生还,123,纪录片,法国,2008-03-07 00:00:00,130,2007,8.4,美国
13881,伟大工程巡礼：鹿特丹港,128,纪录片,美国,1905-06-27 00:00:00,60,2005,7.9,美国
13882,近郊奇情,203,剧情/喜剧,美国,1997-02-07 00:00:00,121,1996,8.1,美国
13883,近距离,458,动作/犯罪,美国,2015-12-11 00:00:00,80,2015,5.1,美国
13884,近距离击杀,663,剧情/战争,中国大陆,2014-05-09 00:00:00,90,2013,5.9,中国大陆

#### 最值,最小值

In [120]:
df['投票人数'].max()

692795

#### 均值和中值,求和

In [121]:
df['投票人数'].mean()

6187.269152314803

In [124]:
df['投票人数'].sum()

239626747

#### 方差和标准差

In [122]:
df['评分'].var()

1.6129862161070732

In [123]:
df['评分'].std()

1.2700339428956509

#### 相关系数和协方差

In [126]:
df[['投票人数','评分']].corr()

          投票人数        评分
投票人数  1.000000  0.122957
评分    0.122957  1.000000

In [127]:
df[['投票人数','评分']].cov()

              投票人数           评分
投票人数  6.836335e+08  4083.001838
评分    4.083002e+03     1.612986

#### 计数

In [128]:
len(df)

38729

#### 对产地进行统计

In [129]:
df['产地']

0          美国
1          美国
2         意大利
3          美国
4        中国大陆
5          美国
6          美国
7          日本
8          日本
9          法国
10        意大利
11         美国
12         日本
13         美国
14         日本
15         美国
16         美国
17         美国
18         英国
19         美国
20         美国
21       中国大陆
22         美国
23         法国
24        意大利
25         法国
26         美国
27         美国
28         日本
29       中国大陆
         ...
38699      美国
38700      美国
38701      英国
38702      英国
38703      美国
38704    中国香港
38705      美国
38706     意大利
38707      日本
38708      波兰
38709    中国大陆
38710      韩国
38711      美国
38712      苏联
38713      英国
38714      美国
38715      美国
38716      美国
38717    中国台湾
38718      美国
38719    中国大陆
38720      美国
38721    中国大陆
38722    中国大陆
38723      美国
38724      法国
38725      美国
38726    中国大陆
38727    中国大陆
38728      苏联
Name: 产地, Length: 38729, dtype: object

In [131]:
df['产地'].unique()

array(['美国', '意大利', '中国大陆', '日本', '法国', '英国', '韩国', '中国香港', '阿根廷', '德国',
       '印度', '其他', '加拿大', '波兰', '泰国', '澳大利亚', '西班牙', '俄罗斯', '中国台湾', '荷兰',
       '丹麦', '比利时', 'USA', '苏联', '墨西哥', '巴西', '瑞典', '西德'], dtype=object)

#### 在进行产地统计的时候，有重复数据，比如USA和美国，俄罗斯和苏联.....

In [135]:
df['产地'].replace('USA','美国',inplace=True)

In [136]:
df['产地'].replace(['苏联','俄罗斯'],['西德','德国'],inplace=True)

In [137]:
df['产地'].unique()

array(['美国', '意大利', '中国大陆', '日本', '法国', '英国', '韩国', '中国香港', '阿根廷', '德国',
       '印度', '其他', '加拿大', '波兰', '泰国', '澳大利亚', '西班牙', '中国台湾', '荷兰', '丹麦',
       '比利时', '西德', '墨西哥', '巴西', '瑞典'], dtype=object)

In [138]:
len(df['产地'].unique() )

25

#### 计算每一年电影的数量

In [143]:
df['年代'].value_counts()

2012    2042
2013    2001
2008    1963
2014    1887
2010    1886
2011    1866
2009    1862
2007    1711
2015    1592
2006    1515
2005    1263
2004    1135
2003     951
2002     900
2001     828
2000     731
1999     625
1998     577
1997     537
1996     517
1994     494
1995     489
1993     441
1992     435
1991     410
1989     393
1990     393
1988     391
1987     343
1986     324
        ...
1919      20
1915      20
1923      18
1903      16
1920      14
1917      12
1916      12
1918      12
1904       8
1896       8
1913       8
1895       8
1900       7
1906       7
1908       6
1902       6
1905       5
1912       5
1910       5
1909       5
1907       5
1911       4
1901       4
1894       3
1897       3
1899       2
1898       2
1888       2
1890       1
1892       1
Name: 年代, Length: 126, dtype: int64

In [144]:
df['产地'].value_counts()[:5]

美国      11978
日本       5051
中国大陆     3802
中国香港     2851
法国       2816
Name: 产地, dtype: int64

In [145]:
df.to_excel(r'D:/Documents/movie2_data.xlsx')

### 2.4 数据透视

#### 使用pandas中的pivot_table的核心是你能很好的理解自己的数据，并轻清楚的知道你想通过透视表解决什么问题。

#### 基础形式

In [153]:
pd.set_option('max_columns',50)
pd.set_option('max_rows',50)  #最大的展现行数，50行之前不会出现省略号

In [154]:
pd.pivot_table(df,index=['年代']) #以年代为索引，对投票人数，时长，评分来进行均值的计算

              投票人数         时长        评分
年代
1888    388.000000  60.000000  7.950000
1890     51.000000  60.000000  4.800000
1892    176.000000  60.000000  7.500000
1894    112.666667  60.000000  6.633333
1895    959.875000  60.000000  7.575000
1896    984.250000  60.000000  7.037500
1897     67.000000  60.000000  6.633333
1898    578.500000  60.000000  7.450000
1899     71.000000   9.500000  6.900000
1900    175.285714  36.714286  7.228571
1901    164.500000  47.250000  7.250000
1902   1934.166667  34.666667  7.483333
1903    295.625000  29.625000  6.968750
1904    195.875000  41.250000  7.212500
1905    332.600000  43.800000  6.820000
1906    189.857143  30.571429  7.342857
1907    213.600000  31.800000  7.020000
1908    258.833333  34.166667  7.150000
1909     58.600000  20.600000  7.560000
1910    105.200000  41.800000  6.940000
1911    240.000000  25.750000  7.375000
1912    152.200000  16.400000  7.920000
1913     66.125000  57.750000  6.862500
1914    104.923077  25.923077  6.473077
1915    314.900000  56.800000  7.260000
...            ...        ...       ...
1992   5486.133333  92.572414  7.223678
1993   8117.759637  95.269841  7.195692
1994  11479.255061  91.344130  7.262348
1995   8132.605317  94.441718  7.289366
1996   5095.883946  95.243714  7.258801
1997   8243.938547  94.970205  7.330168
1998   7431.790295  91.131716  7.238302
1999   7137.049600  92.457600  7.188000
2000   5907.770178  92.191518  7.134063
2001   8489.757246  90.958937  7.110145
2002   6552.593333  91.584444  7.069778
2003   7891.964248  90.558360  7.137750
2004   8587.632599  90.424670  7.031366
2005   6506.110847  92.080760  7.030008
2006   7278.260726  90.144554  6.914719
2007   6253.837522  86.628288  6.875102
2008   6750.996943  85.144167  6.910647
2009   8716.364662  86.384533  6.750000
2010   9576.387593  83.434252  6.770361
2011   8763.110397  84.125938  6.577010
2012   7082.787463  85.099902  6.458374
2013   7603.723138  84.902049  6.392604
2014   7723.302597  85.997880  6.259777
2015   7841.408291  89.863693  6.141960
2016   7176.019380  91.329457  5.868217

[126 rows x 3 columns]

#### 也可以多个索引

In [155]:
pd.pivot_table(df,index=['年代','产地'])

                   投票人数          时长        评分
年代   产地
1888 英国      388.000000   60.000000  7.950000
1890 美国       51.000000   60.000000  4.800000
1892 法国      176.000000   60.000000  7.500000
1894 法国      148.000000   60.000000  7.000000
     美国       95.000000   60.000000  6.450000
1895 法国      959.875000   60.000000  7.575000
1896 法国     1874.250000   60.000000  7.650000
     美国       55.666667   60.000000  6.366667
     英国      210.000000   60.000000  6.600000
1897 法国       67.000000   60.000000  6.633333
1898 法国      991.000000   60.000000  8.500000
     英国      166.000000   60.000000  6.400000
1899 法国       71.000000    9.500000  6.900000
1900 法国       52.000000    5.666667  7.100000
     美国      212.500000   60.000000  7.450000
     英国      323.000000   60.000000  7.200000
1901 法国      142.000000    9.000000  7.700000
     英国      172.000000   60.000000  7.100000
1902 法国     3818.000000   26.000000  8.066667
     美国       50.333333   43.333333  6.900000
1903 法国       81.600000   21.500000  6.960000
     美国      824.500000   47.750000  6.850000
     英国      308.000000   34.000000  7.250000
1904 法国      217.714286   38.571429  7.500000
     美国       43.000000   60.000000  5.200000
...                 ...         ...       ...
2015 意大利    7022.875000  110.750000  6.875000
     日本     2301.793478   76.557971  6.897826
     比利时    7121.333333  107.000000  7.033333
     法国     2753.233333   92.600000  6.921667
     波兰      165.000000   92.500000  6.300000
     泰国      744.333333   90.866667  5.846667
     澳大利亚  12964.533333   90.666667  6.880000
     瑞典     4455.500000   52.000000  7.625000
     美国     9194.213592   90.769417  6.278641
     英国     7049.764045   90.000000  7.155056
     荷兰      696.428571   71.571429  6.700000
     西班牙    1060.928571   95.500000  6.514286
     阿根廷     124.333333   82.333333  7.233333
     韩国     3209.247706  100.266055  5.423853
2016 中国大陆   8604.280000   94.080000  4.712000
     中国香港   6755.363636   98.909091  5.390909
     丹麦       43.000000  111.000000  7.000000
     其他      185.750000   91.000000  7.225000
     加拿大     347.500000   75.000000  6.200000
     印度      317.000000  130.000000  6.900000
     日本      579.763158   73.815789  7.181579
     法国       39.000000   93.250000  7.475000
     美国    10563.848485   91.984848  6.540909
     英国    14607.272727   85.545455  7.200000
     韩国     1739.850000  106.100000  5.730000

[1535 rows x 3 columns]

#### 也可以指定需要统计汇总的数据

In [156]:
pd.pivot_table(df,index=['年代','产地'],values=['评分'])

                 评分
年代   产地
1888 英国    7.950000
1890 美国    4.800000
1892 法国    7.500000
1894 法国    7.000000
     美国    6.450000
1895 法国    7.575000
1896 法国    7.650000
     美国    6.366667
     英国    6.600000
1897 法国    6.633333
1898 法国    8.500000
     英国    6.400000
1899 法国    6.900000
1900 法国    7.100000
     美国    7.450000
     英国    7.200000
1901 法国    7.700000
     英国    7.100000
1902 法国    8.066667
     美国    6.900000
1903 法国    6.960000
     美国    6.850000
     英国    7.250000
1904 法国    7.500000
     美国    5.200000
...             ...
2015 意大利   6.875000
     日本    6.897826
     比利时   7.033333
     法国    6.921667
     波兰    6.300000
     泰国    5.846667
     澳大利亚  6.880000
     瑞典    7.625000
     美国    6.278641
     英国    7.155056
     荷兰    6.700000
     西班牙   6.514286
     阿根廷   7.233333
     韩国    5.423853
2016 中国大陆  4.712000
     中国香港  5.390909
     丹麦    7.000000
     其他    7.225000
     加拿大   6.200000
     印度    6.900000
     日本    7.181579
     法国    7.475000
     美国    6.540909
     英国    7.200000
     韩国    5.730000

[1535 rows x 1 columns]

#### 还可以指定函数，来统计不同的统计值

pd.pivot_table(df,index=['年代','产地'],values=['投票人数'],aggfunc=np.sum)

#### 对"产地"实现数据聚合，通过“投票”和”评分“进行对应分组总结

In [158]:
pd.pivot_table(df,index=['产地'],values=['投票人数','评分'],aggfunc=[np.sum,np.mean])

            sum                   mean
           投票人数       评分          投票人数        评分
产地
中国台湾    5237466   4367.2   8474.864078  7.066667
中国大陆   41435313  23058.0  10898.293793  6.064703
中国香港   23285389  18457.7   8167.446159  6.474114
丹麦       394784   1434.7   1993.858586  7.245960
其他      3054119  13895.9   1590.686979  7.237448
加拿大     1384765   4868.4   1915.304288  6.733610
印度      1146271   2453.4   3210.843137  6.872269
墨西哥      139613    843.4   1173.218487  7.087395
巴西       357136    733.5   3536.000000  7.262376
德国      2909334   8032.0   2590.680321  7.152271
意大利     2502215   5377.3   3340.740988  7.179306
日本     18000667  36339.3   3563.782815  7.194476
比利时      170987   1003.3   1230.122302  7.217986
法国     10213966  20384.7   3627.118608  7.238885
波兰       159577   1347.0    881.640884  7.441989
泰国      1564881   1796.1   5322.724490  6.109184
澳大利亚    1415713   2093.4   4719.043333  6.978000
瑞典       290077   1423.3   1510.817708  7.413021
美国    101806216  83209.5   8499.433628  6.946861
英国     13249562  20789.4   4797.089790  7.526937
荷兰       144836   1114.5    934.425806  7.190323
西德       257776   2999.9    667.813472  7.771762
西班牙     1486733   3139.9   3326.024609  7.024385
阿根廷      258271    843.7   2226.474138  7.273276
韩国      8761080   8596.4   6484.885270  6.362990

#### 非数值（NAN）可以使用fill_value将其设置为0

In [159]:
pd.pivot_table(df,index=['年代'],aggfunc=[np.sum,np.mean],fill_value=0)

           sum                           mean
          投票人数      时长       评分          投票人数         时长        评分
年代
1888       776     120     15.9    388.000000  60.000000  7.950000
1890        51      60      4.8     51.000000  60.000000  4.800000
1892       176      60      7.5    176.000000  60.000000  7.500000
1894       338     180     19.9    112.666667  60.000000  6.633333
1895      7679     480     60.6    959.875000  60.000000  7.575000
1896      7874     480     56.3    984.250000  60.000000  7.037500
1897       201     180     19.9     67.000000  60.000000  6.633333
1898      1157     120     14.9    578.500000  60.000000  7.450000
1899       142      19     13.8     71.000000   9.500000  6.900000
1900      1227     257     50.6    175.285714  36.714286  7.228571
1901       658     189     29.0    164.500000  47.250000  7.250000
1902     11605     208     44.9   1934.166667  34.666667  7.483333
1903      4730     474    111.5    295.625000  29.625000  6.968750
1904      1567     330     57.7    195.875000  41.250000  7.212500
1905      1663     219     34.1    332.600000  43.800000  6.820000
1906      1329     214     51.4    189.857143  30.571429  7.342857
1907      1068     159     35.1    213.600000  31.800000  7.020000
1908      1553     205     42.9    258.833333  34.166667  7.150000
1909       293     103     37.8     58.600000  20.600000  7.560000
1910       526     209     34.7    105.200000  41.800000  6.940000
1911       960     103     29.5    240.000000  25.750000  7.375000
1912       761      82     39.6    152.200000  16.400000  7.920000
1913       529     462     54.9     66.125000  57.750000  6.862500
1914      2728     674    168.3    104.923077  25.923077  6.473077
1915      6298    1136    145.2    314.900000  56.800000  7.260000
...        ...     ...      ...           ...        ...       ...
1992   2386468   40269   3142.3   5486.133333  92.572414  7.223678
1993   3579932   42014   3173.3   8117.759637  95.269841  7.195692
1994   5670752   45124   3587.6  11479.255061  91.344130  7.262348
1995   3976844   46182   3564.5   8132.605317  94.441718  7.289366
1996   2634572   49241   3752.8   5095.883946  95.243714  7.258801
1997   4426995   50999   3936.3   8243.938547  94.970205  7.330168
1998   4288143   52583   4176.5   7431.790295  91.131716  7.238302
1999   4460656   57786   4492.5   7137.049600  92.457600  7.188000
2000   4318580   67392   5215.0   5907.770178  92.191518  7.134063
2001   7029519   75314   5887.2   8489.757246  90.958937  7.110145
2002   5897334   82426   6362.8   6552.593333  91.584444  7.069778
2003   7505258   86121   6788.0   7891.964248  90.558360  7.137750
2004   9746963  102632   7980.6   8587.632599  90.424670  7.031366
2005   8217218  116298   8878.9   6506.110847  92.080760  7.030008
2006  11026565  136569  10475.8   7278.260726  90.144554  6.914719
2007  10700316  148221  11763.3   6253.837522  86.628288  6.875102
2008  13252207  167138  13565.6   6750.996943  85.144167  6.910647
2009  16229871  160848  12568.5   8716.364662  86.384533  6.750000
2010  18061067  157357  12768.9   9576.387593  83.434252  6.770361
2011  16351964  156979  12272.7   8763.110397  84.125938  6.577010
2012  14463052  173774  13188.0   7082.787463  85.099902  6.458374
2013  15215050  169889  12791.6   7603.723138  84.902049  6.392604
2014  14573872  162278  11812.2   7723.302597  85.997880  6.259777
2015  12483522  143063   9778.0   7841.408291  89.863693  6.141960
2016   1851413   23563   1514.0   7176.019380  91.329457  5.868217

[126 rows x 6 columns]

#### margins=True,可以在下方显示一些总和的数据

In [160]:
pd.pivot_table(df,index=['年代'],aggfunc=[np.sum,np.mean],fill_value=0,margins=True)

            sum                             mean
           投票人数       时长        评分          投票人数         时长        评分
年代
1888        776      120      15.9    388.000000  60.000000  7.950000
1890         51       60       4.8     51.000000  60.000000  4.800000
1892        176       60       7.5    176.000000  60.000000  7.500000
1894        338      180      19.9    112.666667  60.000000  6.633333
1895       7679      480      60.6    959.875000  60.000000  7.575000
1896       7874      480      56.3    984.250000  60.000000  7.037500
1897        201      180      19.9     67.000000  60.000000  6.633333
1898       1157      120      14.9    578.500000  60.000000  7.450000
1899        142       19      13.8     71.000000   9.500000  6.900000
1900       1227      257      50.6    175.285714  36.714286  7.228571
1901        658      189      29.0    164.500000  47.250000  7.250000
1902      11605      208      44.9   1934.166667  34.666667  7.483333
1903       4730      474     111.5    295.625000  29.625000  6.968750
1904       1567      330      57.7    195.875000  41.250000  7.212500
1905       1663      219      34.1    332.600000  43.800000  6.820000
1906       1329      214      51.4    189.857143  30.571429  7.342857
1907       1068      159      35.1    213.600000  31.800000  7.020000
1908       1553      205      42.9    258.833333  34.166667  7.150000
1909        293      103      37.8     58.600000  20.600000  7.560000
1910        526      209      34.7    105.200000  41.800000  6.940000
1911        960      103      29.5    240.000000  25.750000  7.375000
1912        761       82      39.6    152.200000  16.400000  7.920000
1913        529      462      54.9     66.125000  57.750000  6.862500
1914       2728      674     168.3    104.923077  25.923077  6.473077
1915       6298     1136     145.2    314.900000  56.800000  7.260000
...         ...      ...       ...           ...        ...       ...
1993    3579932    42014    3173.3   8117.759637  95.269841  7.195692
1994    5670752    45124    3587.6  11479.255061  91.344130  7.262348
1995    3976844    46182    3564.5   8132.605317  94.441718  7.289366
1996    2634572    49241    3752.8   5095.883946  95.243714  7.258801
1997    4426995    50999    3936.3   8243.938547  94.970205  7.330168
1998    4288143    52583    4176.5   7431.790295  91.131716  7.238302
1999    4460656    57786    4492.5   7137.049600  92.457600  7.188000
2000    4318580    67392    5215.0   5907.770178  92.191518  7.134063
2001    7029519    75314    5887.2   8489.757246  90.958937  7.110145
2002    5897334    82426    6362.8   6552.593333  91.584444  7.069778
2003    7505258    86121    6788.0   7891.964248  90.558360  7.137750
2004    9746963   102632    7980.6   8587.632599  90.424670  7.031366
2005    8217218   116298    8878.9   6506.110847  92.080760  7.030008
2006   11026565   136569   10475.8   7278.260726  90.144554  6.914719
2007   10700316   148221   11763.3   6253.837522  86.628288  6.875102
2008   13252207   167138   13565.6   6750.996943  85.144167  6.910647
2009   16229871   160848   12568.5   8716.364662  86.384533  6.750000
2010   18061067   157357   12768.9   9576.387593  83.434252  6.770361
2011   16351964   156979   12272.7   8763.110397  84.125938  6.577010
2012   14463052   173774   13188.0   7082.787463  85.099902  6.458374
2013   15215050   169889   12791.6   7603.723138  84.902049  6.392604
2014   14573872   162278   11812.2   7723.302597  85.997880  6.259777
2015   12483522   143063    9778.0   7841.408291  89.863693  6.141960
2016    1851413    23563    1514.0   7176.019380  91.329457  5.868217
All   239112081  3394392  264182.3   6265.054787  88.937588  6.921928

[127 rows x 6 columns]

#### 对不同值执行不同的函数,可以向aggfunc传递一个字典

In [161]:
pd.pivot_table(df,index=['产地'],values=['投票人数','评分'],aggfunc={'投票人数':np.sum,'评分':np.mean})

           投票人数        评分
产地
中国台湾    5237466  7.066667
中国大陆   41435313  6.064703
中国香港   23285389  6.474114
丹麦       394784  7.245960
其他      3054119  7.237448
加拿大     1384765  6.733610
印度      1146271  6.872269
墨西哥      139613  7.087395
巴西       357136  7.262376
德国      2909334  7.152271
意大利     2502215  7.179306
日本     18000667  7.194476
比利时      170987  7.217986
法国     10213966  7.238885
波兰       159577  7.441989
泰国      1564881  6.109184
澳大利亚    1415713  6.978000
瑞典       290077  7.413021
美国    101806216  6.946861
英国     13249562  7.526937
荷兰       144836  7.190323
西德       257776  7.771762
西班牙     1486733  7.024385
阿根廷      258271  7.273276
韩国      8761080  6.362990

In [163]:
pd.pivot_table(df,index=['年代'],values=['投票人数','评分'],aggfunc={'投票人数':np.sum,'评分':np.mean},fill_value=0,margins=True)

           投票人数        评分
年代
1888        776  7.950000
1890         51  4.800000
1892        176  7.500000
1894        338  6.633333
1895       7679  7.575000
1896       7874  7.037500
1897        201  6.633333
1898       1157  7.450000
1899        142  6.900000
1900       1227  7.228571
1901        658  7.250000
1902      11605  7.483333
1903       4730  6.968750
1904       1567  7.212500
1905       1663  6.820000
1906       1329  7.342857
1907       1068  7.020000
1908       1553  7.150000
1909        293  7.560000
1910        526  6.940000
1911        960  7.375000
1912        761  7.920000
1913        529  6.862500
1914       2728  6.473077
1915       6298  7.260000
...         ...       ...
1993    3579932  7.195692
1994    5670752  7.262348
1995    3976844  7.289366
1996    2634572  7.258801
1997    4426995  7.330168
1998    4288143  7.238302
1999    4460656  7.188000
2000    4318580  7.134063
2001    7029519  7.110145
2002    5897334  7.069778
2003    7505258  7.137750
2004    9746963  7.031366
2005    8217218  7.030008
2006   11026565  6.914719
2007   10700316  6.875102
2008   13252207  6.910647
2009   16229871  6.750000
2010   18061067  6.770361
2011   16351964  6.577010
2012   14463052  6.458374
2013   15215050  6.392604
2014   14573872  6.259777
2015   12483522  6.141960
2016    1851413  5.868217
All   239626747  6.935420

[127 rows x 2 columns]

#### 透视表过滤

In [164]:
table=pd.pivot_table(df,index=['年代'],values=['投票人数','评分'],aggfunc={'投票人数':np.sum,'评分':np.mean})

In [165]:
type(table)

pandas.core.frame.DataFrame

In [166]:
table

          投票人数        评分
年代
1888       776  7.950000
1890        51  4.800000
1892       176  7.500000
1894       338  6.633333
1895      7679  7.575000
1896      7874  7.037500
1897       201  6.633333
1898      1157  7.450000
1899       142  6.900000
1900      1227  7.228571
1901       658  7.250000
1902     11605  7.483333
1903      4730  6.968750
1904      1567  7.212500
1905      1663  6.820000
1906      1329  7.342857
1907      1068  7.020000
1908      1553  7.150000
1909       293  7.560000
1910       526  6.940000
1911       960  7.375000
1912       761  7.920000
1913       529  6.862500
1914      2728  6.473077
1915      6298  7.260000
...        ...       ...
1992   2386468  7.223678
1993   3579932  7.195692
1994   5670752  7.262348
1995   3976844  7.289366
1996   2634572  7.258801
1997   4426995  7.330168
1998   4288143  7.238302
1999   4460656  7.188000
2000   4318580  7.134063
2001   7029519  7.110145
2002   5897334  7.069778
2003   7505258  7.137750
2004   9746963  7.031366
2005   8217218  7.030008
2006  11026565  6.914719
2007  10700316  6.875102
2008  13252207  6.910647
2009  16229871  6.750000
2010  18061067  6.770361
2011  16351964  6.577010
2012  14463052  6.458374
2013  15215050  6.392604
2014  14573872  6.259777
2015  12483522  6.141960
2016   1851413  5.868217

[126 rows x 2 columns]

In [167]:
table.columns

Index(['投票人数', '评分'], dtype='object')

In [168]:
table.index

Int64Index([1888, 1890, 1892, 1894, 1895, 1896, 1897, 1898, 1899, 1900,
            ...
            2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016],
           dtype='int64', name='年代', length=126)

In [171]:
table[table.index==1994]

         投票人数        评分
年代
1994  5670752  7.262348

In [172]:
table.sort_values('评分',ascending=False)[:10]

       投票人数        评分
年代
1924  10410  8.053571
1888    776  7.950000
1928  16193  7.945000
1912    761  7.920000
1923   7668  7.883333
1922  16876  7.804545
1925  27607  7.788000
1926  10203  7.773913
1916   7364  7.758333
1927  20163  7.751724

#### 按照多个索引来进行汇总

In [174]:
pd.pivot_table(df,index=['产地','年代'],values=['投票人数','评分'],aggfunc={'投票人数':np.sum,'评分':np.mean},fill_value=0,margins=True)

                投票人数        评分
产地   年代
中国台湾 1963        121  6.400000
     1965        461  6.800000
     1966         51  7.900000
     1967       4444  8.000000
     1968        178  7.400000
     1969        273  7.400000
     1970       5953  7.266667
     1971        153  6.933333
     1972        676  7.500000
     1973       4903  7.280000
     1974        815  6.771429
     1975       2214  6.611111
     1976       3189  6.336364
     1977       1761  6.525000
     1978       2618  6.800000
     1979       7887  6.956250
     1980       2200  7.222222
     1981       4143  7.140000
     1982       6199  6.942857
     1983      22919  7.750000
     1984       9558  7.410000
     1985      18207  7.314286
     1986      12628  7.418182
     1987      32262  7.550000
     1988      32186  6.877778
...              ...       ...
韩国   1993       1338  7.460000
     1994        195  6.666667
     1995       1321  6.600000
     1996       3587  6.985714
     1997      11047  6.778571
     1998      66664  6.852941
     1999      53573  6.834783
     2000     140652  6.383333
     2001     354597  6.709091
     2002     249115  6.641667
     2003     853007  6.814545
     2004     608902  6.814062
     2005     469217  6.830137
     2006     656011  6.737500
     2007     286484  6.625000
     2008     498663  6.731081
     2009     342280  6.505479
     2010     775389  6.473333
     2011     805446  6.365556
     2012     610829  6.064151
     2013    1130983  6.098198
     2014     453152  5.650833
     2015     349808  5.423853
     2016      34797  5.730000
All        239626747  6.935420

[1536 rows x 2 columns]